<section>
  <h2>FormControl</h2>
  <p>
    El <strong>FormControl</strong> es una clase que se importa de
    <code>'&commat;angular/forms'</code>, contiene tanto los valores de los
    inputs como la información de validación (además de muchas otras propiedades
    que veremos más adelante).
  </p>
  <p>
    Cada input que tenga nuestro formulario debe estar vinculado por un
    <strong>formControl</strong>. Estas son las unidades básicas de los
    <strong>Reactive Forms</strong>.
  </p>
</section>

<form class="mb-4">
  <label class="form-label" for="name"> Nombre </label>
  <input
    type="search"
    name="name"
    id="name"
    placeholder="Buscar..."
    class="form-control"
    [formControl]="name"
  />
  <app-form-error [control]="name" />
</form>

@for (animal of filteredAnimals; track animal) {
<ul>
  <li>
    {{ animal }}
  </li>
</ul>
} @empty {
<div>Sin resultados</div>
}

<hr />

<p>Valor del formControl: {{ name.value | json }}</p>
