<section>
  <h1>Reactive Forms</h1>
  <p>
    Reactive Forms es un módulo de Angular que nos permite definir los controles
    del formulario sin necesidad de usar explícitamente ngModel.
  </p>

  <p>
    En comparación con los <strong>template-driven forms</strong>, son más
    robustos, escalables, reutilizables y testeables. <br />Si los formularios
    son una parte clave de su aplicación es recomendable usar formularios
    reactivos.
  </p>
</section>

<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Reactive</th>
        <th scope="col">Template driven</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Configuración del modelo</th>
        <td>Explicito, creado en el componente</td>
        <td>Implícito, creado por directivas</td>
      </tr>
      <tr>
        <th scope="row">Modelo de datos</th>
        <td>Estructurado e inmutable</td>
        <td>Desestructurado y mutable</td>
      </tr>
      <tr>
        <th scope="row">Flujo de datos</th>
        <td>Sícrono</td>
        <td>Asíncrono</td>
      </tr>
      <tr>
        <th scope="row">Validación</th>
        <td>Funciones</td>
        <td>Directivas</td>
      </tr>
    </tbody>
  </table>
</section>
